<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<configuration>
	<properties resource = "db.properties" />
	<settings>
		<seting name="mapUnderscoreToCamelCase" value="true" />
		<seting name="aggressiveLazyLoading" value="false" />
	</settings>
	<typeAliases>
		<package name=""></package>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManger type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${jbbc.driver}" />
				<property name="url" value="${jbbc.url}" />
				<property name="username" value="${jbbc.username}" />
				<property name="password" value="${jbbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/small/mapper/*.xml" />
	</mappers>
</configuration>